@model IEnumerable<ActiveLearning.DB.QuizOption>
@using ActiveLearning.Business.Common;
@{
    ViewBag.Title = "Manage Quiz Option";
}

<h2>Manage Quiz Option</h2>

@Html.Partial("_MessageBoxPartial")

<div class="container text-right" style="width:90%">
    @Html.ActionLink("Create New Option", "CreateQuizOption")
</div>
<br />

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDT)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.QuizQuestion.Title)
                </th>*@
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCorrect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDT)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.QuizQuestion.Title)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "EditQuizOption", new { quizOptionSid = item.Sid })
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    &nbsp; | &nbsp; @Html.ActionLink("Delete", "DeleteQuizOption", new { quizOptionSid = item.Sid })
                </td>
            </tr>
        }
    </table>
}