@using ActiveLearning.DB;
@using ActiveLearning.Business.Common;
@model List<Content>
@{
    ViewBag.Title = "Manage Content";
}
<h2>Manage Content</h2>

@Html.Partial("_MessageBoxPartial")

<div class="container modal-footer">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-group-sm" data-toggle="modal" data-target="#myModal">Upload Content</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="margin-top:10%">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title small">Choose File</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Upload", "instructor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @*@Html.AntiForgeryToken()*@
                        <fieldset>
                            @*<legend>Upload a file</legend>*@

                            <div class="editor-field panel-info" style="margin-left:25%">
                                @Html.TextBox("file", "", new { type = "file", @class = "btn btn-info btn-group-sm" })
                                <label id="error" class="alert-info" style="margin-right:50%"></label>
                            </div>

                            <br />
                            <input hidden="hidden" name="CourseSid" value="@ViewBag.CourseSid" />
                            <div class="editor-field">
                                <input type="submit" value="Upload File" class="btn btn-success" style="margin-right:25%;width:100%" onclick="return checkFileSelected()" />
                            </div>

                        </fieldset>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

@if (Model != null && Model.Count() > 0)
{
    using (Html.BeginForm("Download", "Student", FormMethod.Post))
    {
        <table class="table" style="margin-top:20px">
            <tr>
                <th>File Name</th>
                <th>File Type</th>
                <th>Action</th>
            </tr>

            @for (var i = 0; i <= Model.Count - 1; i++)
            {
                <tr>
                    <td>
                        @Model[i].OriginalFileName.ToString()
                    </td>
                    <td>
                        @if (Model[i].Type.Equals(Constants.Content_Type_Video, StringComparison.CurrentCultureIgnoreCase))
                        {
                            <label class="text-success">Video</label>
                        }
                        else if (Model[i].Type.Equals(Constants.Content_Type_File, StringComparison.CurrentCultureIgnoreCase))
                        {
                            <label class="text-primary">File</label>
                        }
                    </td>
                    <td style="width:20%">

                        @if (Model[i].Type.Equals(Constants.Content_Type_Video, StringComparison.CurrentCultureIgnoreCase))
                        {
                            @Html.ActionLink("Watch", "Download", new { courseSid = ViewBag.CourseSid, contentSid = @Model[i].Sid, originalFileName = @Model[i].OriginalFileName }, new { @class = "btn-md" })
                            <label> &nbsp; |  &nbsp;</label>
                            @Html.ActionLink("Delete", "Delete", new { courseSid = ViewBag.CourseSid, contentSid = @Model[i].Sid }, new { onclick = "return confirm('Confirm to delete the content ?')", @class = "btn-md", })
                        }
                        else if (Model[i].Type.Equals(Constants.Content_Type_File, StringComparison.CurrentCultureIgnoreCase))
                        {
                            @Html.ActionLink("Download", "Download", new { courseSid = ViewBag.CourseSid, contentSid = @Model[i].Sid, originalFileName = @Model[i].OriginalFileName }, new { @class = "btn-md" })
                            <label> &nbsp; | &nbsp;</label>
                            @Html.ActionLink("Delete", "Delete", new { courseSid = ViewBag.CourseSid, contentSid = @Model[i].Sid }, new { onclick = "return confirm('Confirm to delete the content ?')" ,  @class = "btn-md", })
                        }



                    </td>
                </tr>
            }
        </table>
    }
}


<script>
    function checkFileSelected() {
        if ($("#file").val()) {
            return true;
        }
        else {
            $('#error').text("Please choose file");
            return false;
        }
    }

</script>
