@model ActiveLearning.DB.Content
@using ActiveLearning.Common;
@{
    ViewBag.Title = "Comment Content";
}

<h2>Comment Content</h2>

@Html.Partial("_MessageBoxPartial")

@if (Model != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Sid)

            <div class="form-group" style="margin-left:25%">
                <label class="control-label col-md-2">
                    Course Name
                </label>
                <div class="col-md-10">
                    <label class="control-label">@Html.DisplayFor(model => model.Course.CourseName)</label>
                </div>
            </div>
            <div class="form-group" style="margin-left:25%">
                <label class="control-label col-md-2">
                    File Name
                </label>
                <div class="col-md-10">
                    <label class="control-label">@Html.DisplayFor(model => model.OriginalFileName)</label>
                </div>
            </div>
            <div class="form-group" style="margin-left:25%">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (Model.Type.Equals(Constants.Content_Type_Video, StringComparison.CurrentCultureIgnoreCase))
                    {
                        <label class="control-label">Video</label>
                    }
                    else if (Model.Type.Equals(Constants.Content_Type_File, StringComparison.CurrentCultureIgnoreCase))
                    {
                        <label class="control-label">File</label>
                    }
                </div>
            </div>
            <div class="form-group" style="margin-left:25%">
                @Html.LabelFor(model => model.CreateDT, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label class="control-label">@Html.DisplayFor(model => model.CreateDT)</label>
                </div>
            </div>
            <div class="form-group" style="margin-left:25%">
                @Html.LabelFor(model => model.UpdateDT, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label class="control-label">@Html.DisplayFor(model => model.UpdateDT)</label>
                </div>
            </div>
            <div class="form-group" style="margin-left:25%">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="margin-left:25%">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
}