@model IEnumerable<ActiveLearning.DB.Course>
@using ActiveLearning.Business.Common;

@{
    ViewBag.Title = "Manage Course";
}

<h2>Manage Course</h2>

@Html.Partial("_MessageBoxPartial")

<div class="container text-right" style="width:90%">
    @Html.ActionLink("Create New Course", "CreateCourse")
</div>
<br />
@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDT)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDT)
                </td>
                <td>
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Edit", "EditCourse", new { courseSid = item.Sid })</li>
                            <li>@Html.ActionLink("Delete", "DeleteCourse", new { courseSid = item.Sid })</li>
                            <li>@Html.ActionLink("Manage Student", "ManageStudentEnrolment", new { courseSid = item.Sid })</li>
                            <li>@Html.ActionLink("Manage Instructor", "ManageInstructorEnrolment", new { courseSid = item.Sid })</li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
}
