@model IEnumerable<ActiveLearning.DB.Course>
@using ActiveLearning.Common;
@{
    ViewBag.Title = "Available Course";
}

<h2>Available Course</h2>

@Html.Partial("_MessageBoxPartial")
@if (Model != null && Model.Count() > 0)
{
    <table class="table" style="margin-top:100px">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullyEnrolled)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @if(item.FullyEnrolled)
                    {
                        <label class="text-danger">Yes</label>
                    }
                    else
                    {
                    <label class="text-success">No</label>
                    }
                </td>
                <td>
                    @Html.ActionLink("Enroll", "RequestToEnrollCourse", new { courseSid = item.Sid })
                </td>
            </tr>
        }
    </table>
}